@model IEnumerable<HotelNorthernBreeze.Models.Booking>

@{
    ViewData["Title"] = "MyBookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-4 booking-list-card">
    <h3 class="p-3">My Bookings</h3>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room.Rate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Size)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>