@using HotelNorthernBreeze.Models
@inject HotelNorthernBreeze.Services.AuthService authService
@inject HotelNorthernBreeze.Data.NBEDBContext context

@{
    Booking booking = ViewBag.booking;
    var noOfNight = (booking.ToDate - booking.FromDate).Days + 1;
    var cost = noOfNight * booking.Room.Rate;

    // reduce discount
    if (noOfNight >= 5)
        cost -= cost * 0.25;

    // get all upcoming bookings
    var upcomingBookings = context.Bookings.AsEnumerable()
                                            .Where(b => b.UserNic == booking.UserNic && b.FromDate >= DateTime.Now)
                                            .ToList();

    // sum cost of all nights
    var totalCost = upcomingBookings.Sum(b =>
    {
        var totalNights = (b.ToDate - b.FromDate).Days + 1;
        var cost = b.Room.Rate * totalNights;

        // check and add discounr
        if (totalNights >= 5)
            cost -= cost * 0.25;

        return cost;
    });
}

<div class="book-now-pg">

    <div class="row">
        <div class="col-8">
            <form asp-action="create">
                <div class="card p-5">
                    <div class="d-flex">
                        <label class="pt-2 font-weight-bold">Number of nights : <span>@noOfNight</span></label>

                        @if (noOfNight >= 5)
                        {
                            <span class="discount-coupon">25% Off</span>
                        }
                    </div>
                    <label class="py-2 f-s-20 font-weight-bold">Total : <span>@cost.ToString("0.00")$</span></label>

                    <input type="hidden" value="@booking.Category" name="category" />
                    <input type="hidden" value="@booking.Size" name="size" />
                    <input type="hidden" value="@booking.FromDate" name="fromDate" />
                    <input type="hidden" value="@booking.ToDate" name="toDate" />
                    <input type="hidden" value="@booking.UserNic" name="userNic" />

                    <div class="clearfix d-flex mt-3">
                        <a asp-controller="home" class="btn btn-secondary font-weight-bold py-2 mr-2 w-50">Cancel</a>
                        <button type="submit" class="btn btn-primary font-weight-bold w-50">Book Now</button>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-4">


            <div class="up-coming card p-3">
                <h5 class="mb-3">Up Comming Bookings</h5>

                @foreach (var upBooking in upcomingBookings)
                {
                    <p>@upBooking.FromDate.ToString("dd/MM/yyyy") - @upBooking.ToDate.ToString("dd/MM/yyyy")</p>
                }

                <label class="py-2 f-s-20 font-weight-bold">Total : <span>@totalCost.ToString("0.00") $</span></label>
            </div>
        </div>
    </div>

</div>
